[tool.black]
line-length = 100
target-version = ["py310"]

[tool.ruff]
line-length = 100
select = ["E", "F", "W", "I", "B"]
ignore = []
exclude = [
  ".git",
  "venv",
  ".venv",
  "__pycache__",
  ".pytest_cache",
]

[tool.ruff.lint.isort]
known-first-party = ["api", "core", "db", "schemas"]
profile = "black"
